@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar{
    width: 4px;
    height: 4px;
}
::-webkit-scrollbar-thumb{
    background-color:#2a374b;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover{
    background-color:#ffcc00;
    border-radius: 10px;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #406e77;
    background: linear-gradient(to top right, #2a374b, #406e77, #417b78);
}